.mainDiv {
    display: flex;
    justify-content: center;
    /* Centra i contenuti orizzontalmente */
    align-items: center;
    /* Centra i contenuti verticalmente */
    height: 100vh;
}

body{
    background-color: #0F0F0F;
}